@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Press Start 2P', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}